.container{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  width: 300px;
  max-width: 20%;
}

.header{
  border-radius: 5px 5px 0 0;
  background-color: #6D6D6D;
  color: #fff;
  font-size: 0.9em;
  padding: 10px
}
.textarea{
  width: 100%;
  padding: 10px;
  background-color: #fff;
  color: #333;
  resize: none;
  display: block;
}
.footer{
  text-align: center;
  padding: 10px;
  background-color: #F7931E;
  color: #fff;
  font-size: 0.8em;
  border-radius: 0 0 5px 5px;
}


.overs{
  height: 40vh;
  width: 100%;
}



.over {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 500;
    bottom: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.over-content {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}


.closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .over {overflow-y: auto;}
  .over a {font-size: 20px}
  .closebtn {
    font-size: 40px !important;
    top: 15px;
    right: 35px;
  }
}
