:global {
  @import 'base';
  @import '~normalize.css/normalize';
  @import 'force-graph';
  @import 'bs4utils';


  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: url('../static/images/bg.jpg');
    background-size: cover;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  #boundingBox{
    fill-opacity: 0;
  }
}
