.background {
  background-color: #003265;
  opacity: .65;
  height: 700px;
  width: 600px;
  float: right;
  border-radius: 10px;
  color: #fff;
  line-height: 1;
  position: fixed;
  right: 1.2em;
  top: 6.5em;
  padding: 1.2em;
}

.header {
	font-weight: bold;
	padding-top: 1.2em;
}