.container {
  position: absolute;
  top: 30px;
  left: 230px;
  z-index: 10;
  text-transform: capitalize;
  font-weight: 700;
}
.connector{
  position: relative;
  width: 60px;
  height: 10px;
  display: inline-block;
  margin-right: 10px;
}
.v-center{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  background-color: #fff;
}
.line{
  @extend .v-center;
  height: 5px;
  width: 60px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.circle{
  @extend .v-center;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #ccc;
  z-index: 2;
}
.left{
  @extend .circle;
  left: 0;
}
.right{
  @extend .circle;
  right: 0;
}
a{

}
